@import "./app/app.component.scss";
@import url('https://fonts.googleapis.com/css?family=Poppins');

$mainFont: 'Poppins', sans-serif;
$topMargin: 50px;

body {
    font-family: $mainFont;
}

h1 {
    margin-top: $topMargin;
}